extends layout 

block content
    div.content
        div.top-page-contact.main-color
        div.name.main-color 
            div.my-name: a(href="/") Matthew Rich
        div.underline
        div.main-content-dev
            div.inner-content
                h2 Hello,
                p My name is Matthew Rich. I am the lucky husband of a wonderful wife, and the proud father of two awesome children.
                | When I'm not busy playing trains and dinosaurs, reading stories, and playing at parks, I like to create things.
                | I've always been a bit on the quixotic side; guided by lofty ideals of truth, love, and beauty and the relentless 
                | pursuit of these things in life. I love doing anything that allows me to create and build. The pursuits that I find 
                | find tickle that creative fancy in me are coding, music, and photography. I love how all three of these give me the 
                | chance to create something that didn't exist before; to contribute something new to the world 
                | around me to make it a bit more pleasant. <br><br>
                | I am a Colorado native, and have lived here my whole life (when you live somewhere this awesome, why leave?).
                | My family has been in Colorado since the silver rush in the late 19th century. I love being in the mountains, and try to get
                | up there every chance I get. I have always been a big history buff, fascinated by the origins of things, and learning
                | more about what came before me. A love for science and learning was taught to me by my grandpa when I was young
                | and it is something that I have carried with me ever since. I was also taught, by everyone in my family, to respect 
                | and love all people, and that the most important thing one can do in life is to help, and work to make a difference
                | in people's lives. 