extends layout

block content
    div.content
        div.top-page-contact.main-color
        div.name.main-color 
            div.my-name: a(href="/") Matthew Rich
        div.underline
        div.main-content-dev
            div.inner-content
                h2 My life as a developer
                p I spent many years believing I would hate writing code. 
                | I always tell my son he's not allowed to say he doesn't like something until he's tried it. Funny how you can give such good advice
                | to others, but fail to apply it to your own life. In the fall of 2014, I wanted a website; but I 
                | didn't know how to put one together. I started off thinking 'maybe I can learn just enough code 
                | to put something together'. Little did I know I was taking steps that would change the course
                | of my entire career! I started off just writing one line of code... then another... then another. 
                | Before I knew it I was filling up my lunch breaks with coding sessions, staying up late at night to 
                | write just a little more, and carrying my laptop around with me everywhere I went, just in case
                | an opportunity to code came up. <br><br>
                | I'll never forget the feeling I had the first time I completed a project. There I was, looking at an 
                | app that I had created. A few hours earlier, it hadn't existed; now, here it was, something I created
                | right there in front of me, and I could even use it! I was hooked. A few months later I had quit my career
                | to dive head-first into a new phase in my life. <br><br>
                | I was accepted into the Full-Stack JavaScript Development program at RefactorU in Boulder. I spent 10 weeks
                | there going through an intensive regime, spending 10+ hours a day learning more about developing
                | full scale web applications. The program was amazing; one of the best experiences in my life, and I learned
                | more than I ever thought possible in such a short period of time. <br><br>
                | I now have experience designing and building full scale applications utilizing an array of modern web technologies
                | including JavaScript, HTML5, CSS3, jQuery, AngularJS, underscore, Bootstrap, Semantic UI, and jade on the front end, incorporating 
                | responsive design and mobile first design principles. On the back end I have utilized Node.js, Express.js, 
                | MongoDB, ajax, JSON, Passport.js, and Mongoose.js to set up servers, establish routing, authenticate users, and tie data from the 
                | user to a persistent database. <br><br>

                h2 Work examples
                br
                a.portfolio-links(href="https://corbo.herokuapp.com") corbo
                p if you would like to dig around the Corbo example: <br>
                | username: Matt <br>
                | password: password <br><br>
                a.portfolio-links(href="https://github.com/metropolis4") github
                p
                a.portfolio-links(href="https://random-choice.herokuapp.com") random-choice
                p this is a simple and fun tool I made with Angular to help make a random choice from a list of options
