extends layout

block content
    div.content
        div.top-page.main-color
        div.name.main-color 
            div.my-name Matthew Rich
        div.underline
        div.main-image
            img.front-image(src="//ununsplash.imgix.net/photo-1414604582943-2fd913b3cb17?q=75&fm=jpg&s=f446e822ccd1b4608242cad57d747769")
        div.bottom-page.main-color
            div.navbar
                nav
                    a.nav-links(href="/about") About Me
                    a.nav-links(href="/dev") Web Development
                    a.nav-links(href="/music") Music
                    a.nav-links(href="/photo") Photography
                    a.nav-links(href="/contact") Contact Me

