doctype html
html(lang='en')
    head
        meta(charset="utf-8")
        link(rel="stylesheet", href="//fonts.googleapis.com/css?family=Raleway")
        link(rel="stylesheet", href="../styles/main.css")
        title Matthew Rich

    body
        block content
        
        script(src='../scripts/main.js')
