extends layout

block content
    ck content
        div.content
            div.top-page-contact.main-color
            div.name.main-color 
                div.my-name: a(href="/") Matthew Rich
            div.underline
            div.main-content-dev
                div.inner-content
                    p Music has been a huge part of my life from an early age. 
                    | Some of my favorite memories of my early childhood include listening to my parents records
                    | on my Fischer Price record player, putting on Billy Joel's Glass House and drumming along 
                    | on our couch pillows with my tinker toys, Strumming the strings on my mom's old guitar, 
                    | asking to rent Huey Lewis and the News live concert VHS's from the movie store, and asking to 
                    | go to a Buddy Holly concert for my 4th birthday. I grew up singing in choirs and 'acting' in 
                    | church plays. In 5th grade I officially took up drums, and have been playing them ever since. 
                    | I started playing the guitar again in high school and it quickly became a favorite instrument. <br><br>
                    | I spent my high school days playing in as many ensembles as possible and found my schedule filled
                    | with concert band, marching band, jazz band, orchestra, winter percussion, private lessons, church bands, 
                    | and, in my spare time, playing along with every CD I could get my hands on in my basement. I had the privelege 
                    | to study under Joe Brice at Smoky Hill High School. Mr Brice taught me a passion and love for music that 
                    | I have carried with me ever since.<br><br>
                    | After high school, I majored in Music Performance at the Metropolitan State College of Denver for two years and studied
                    | there under Mark Foster and Walter Barr. While attending Metro, I worked as an assistant percussion instructor
                    | for Smoky Hill's marching band, and taught private lessons. I have been fortunate to be a part of several amazing musical
                    | ventures over the years including live gigs and recording sessions for numerous local artists. I have an obsession with 
                    | music theater and have been excited to be a part of many pit orchestra's for productions of The Sound of Music, The 
                    | Man of LaMancha, Godspell, Joseph and the Amazing Technicolor Dream Coat, 13 the Musical, The Wedding Singer,
                    | Fiddler on the Roof, as well as original shows and 'evening on broadway' style compilation shows.
