extends layout

block content
    ck content
        div.content
            div.top-page-contact.main-color
            div.name.main-color 
                div.my-name: a(href="/") Matthew Rich
            div.underline
            div.main-content-dev
                div.inner-content
                    p When I was very young, my grandpa gave me my first camera.
                    | I remember how much fun I had taking pictures of things around my house, and how fun it was 
                    | when we would go get the film developed and I could see all the pictures I had made. That excitement about 
                    | seeing a finished product is something I still enjoy. I have also learned to love the way photography allows me 
                    | to create a feeling; to capture a moment and tell a story about it. I love to use photography to show common things
                    | in an uncommon way; to show the beauty that is in everything around us - if we learn to look for it. I have had the opportunity 
                    | to complete photo shoots for couples, as well as contracts for the Overland Trail Museum's Dave Hamil/R.E.A. building. <br>
                    h2 Portfolio
                    p some of my work can be found here
                    a.portfolio-links(href="https://www.flickr.com/photos/mattgbrich/") mattgbrich Flickr